<h1>View Students</h1>

<style>
    student_table{
        width:70%;
    }
</style>


<table id="students_table">
    <tr>
    <th>Student Name</th>
    <th>Student Email</th>
    <th>Student Number</th>
    <th>Student Subject</th>
    <th>Student Details</th>
    <th>Delete</th>
    <th>Update</th>
    <th></th>
    </tr>

    @foreach (var student in ViewData["students"] as List<StudentModel>)
    {
    <form asp-action="Edit" asp-controller="Student" method="post">
        <tr>
            <td>@student.studentName</td>
            <td>@student.studentEmail</td>
            <td>@student.studentNumber</td>
            <td>@student.subject</td>
            <td>@student.studentDetails</td>
            <td><button type="submit" name="studentID" value="@student.studentID" asp-action="Delete">delete</button></td>
            <td><button type="submit" name="studentID" value="@student.studentID">update</button></td>                      
        </tr>
        <div id ="updateValues">
             <input name="studentName" value="@student.studentName" hidden />
             <input name="StudentEmail" value="@student.studentEmail" hidden />
             <input name="studentNumber" value="@student.studentNumber" hidden />
             <input name="subject" value="@student.subject" hidden />
             <input name="studentDetails" value="@student.studentDetails" hidden />
        </div>
       
    </form>
        

    }
</table>
